{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🦁 BASIC INFO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="card-wrapper">

        <!-- 뒤 카드 -->
        <div class="card-bg"></div>

        <!-- 앞 카드 -->
        <div class="card">

            <!--상단바-->
            <div class="window-bar">
                <img src="{% static 'images/bar_btn.svg' %}" alt="bar button" class="bar-btn">
            </div>

            <!--내용-->
            <div class="info-area">
                <div class="info-header">
                    <div class="info-header-left">
                        <img src="{% static 'images/info.svg' %}" class="info-icon">
                        <h2>BASIC INFO</h2>
                    </div>
                    <a href="{% url 'mypage' %}" class="home-btn">
                        <img src="{% static 'images/home.svg' %}" alt="home">
                    </a>
                </div>

                <div class="info-row">
                    <span class="label">NAME</span>
                    <span class="line"></span>
                    <span class="value">Suhyun Park</span>
                </div>

                <div class="info-row">
                    <span class="label">BIRTH</span>
                    <span class="line"></span>
                    <span class="value">2005. 06. 17.</span>
                </div>

                <div class="info-row">
                    <span class="label">ADDRESS</span>
                    <span class="line"></span>
                    <span class="value">Incheon</span>
                </div>

                <div class="info-row">
                    <span class="label">PART</span>
                    <span class="line"></span>
                    <span class="value">Plan / Design</span>
                </div>
            </div>

    </div>
</body>
</html>