{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🦁 Profile</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="card-wrapper">

        <!-- 뒤 카드 -->
        <div class="card-bg"></div>

        <!-- 앞 카드 -->
        <div class="card">

            <!--상단바-->
            <div class="window-bar">
                <img src="{% static 'images/bar_btn.svg' %}" alt="bar button" class="bar-btn">
            </div>
    
            <!--프로필 사진-->
            <div class="profile-wrapper">
                <img src="{% static 'images/profile_pic.svg' %}" alt="profile" class="profile_img">
            </div>

            <!--텍스트-->
            <div class="text-area">
                <h2>박수현</h2>
                <p>-- LIKELION SMWU 14TH Plan / Design</p>
            </div>

            <!--버튼-->
            <div class="buttons">
                <a href="{% url 'info' %}" class="icon-btn">
                    <img src="{% static 'images/info.svg' %}" alt="info">
                </a>

                <a href="{% url 'edu' %}" class="icon-btn">
                    <img src="{% static 'images/edu.svg' %}" alt="education">
                </a>
                <a href="{% url 'contact' %}" class="icon-btn">
                    <img src="{% static 'images/contact.svg' %}" alt="contact">
                </a>
            </div>
    </div>
</body>
</html>